<!DOCTYPE html>

<html lang="en">


    <style>
        @media only screen and (max-width: 768px) {
 #image2{
   width: 100%;
 }
}

@media only screen and (min-width: 768px) {
  
    #image2{
        width: 100%;
        
    }
}


</style>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wvalueth=device-wvalueth, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="try">
        <div class="header">
      
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                   <a class="navbar-brand" style="color: red; font-family: monospace; font-size: 25px;" href="#">Ar-fashion</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                 </button>
          
                    <div class="collapse navbar-collapse" value="navbarSupportedContent">
                       <ul class="navbar-nav mx-auto">
                         <li class="nav-item active">
                            <a class="nav-link" style="font-size: larger; " href="/">Home </a>
                         </li>
                         <li class="nav-item">
                         <a class="nav-link" style="font-size: larger; "  href="/Shop">Shop</a>
                         </li>
                        
                      
                   </ul>
                      
                </div>
          </nav>
    
         </div>
         <div class="buy1" style="margin-top: 50px;">
             <div class="container">
                 <div class="row">
                  {% if success %}
                  <div class="alert alert-success" role="alert">
                    Your message has been sent successfully!
                  </div>
                  {% endif %}
                    <div class="col-sm-4 col-md-5">
                        <img id="image2" src="{{url_for('static', filename='buyimage.jpg')}}" alt=""/>
                    </div>
                    
                     <div class="col-sm-4 col-md-5">
            <form action="/buy", method="POST">
                <br/><br/>
                <div class="form-group">
                 
                  <input type="text" class="form-control" id="customername" name="customername" placeholder="username">
                </div>
                <div class="form-group">
                    
                    <input type="text" class="form-control" id="productname" name="productname" placeholder="productname">
                  </div>
                  <div class="form-group">
                  
                    <input type="email" class="form-control" id="email" name="email" placeholder="email">
                  </div>
                <div class="form-group">
                  
                    <input type="number" class="form-control" id="phno" name="phno" placeholder="phno">
                  </div>
               
               
                <div class="form-group">
                   
                  <textarea class="form-control" id="Address" name="{{address}}"  placeholder="Address" rows="3"></textarea>
                </div>

                <div class="btn4">
                    <button type="submit" class="btn btn-info ml-5">Place order</button>
                 </div>              </form>
            </div>

         </div>

       
        </div>
           </div>
         </div>
    
</body>
</html>