<!DOCTYPE html>
<html lang="en">
    <style>
        p{
            color: red;
            font-size: larger;
            font-family: monospace;
          }
          .head1{
          
            font-family: monospace;
            font-size: large;
            margin-left: 10px;

          }
         
        @media only screen and (min-width: 768px) {
            /* dessktop*/
            .content{
                display:flex;
                flex-wrap: wrap;
                margin-left: 10%;
                margin-bottom: 40px;
               
            }

        }

        @media only screen and (max-width: 768px) {
            .content{
              margin-left: 20px;
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }
    </style>
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ar-fashion</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     

</head>
<body>
    <div class="main-shop">
        <div class="header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a style="color: red; font-family: monospace; font-size: 25px;" class="navbar-brand" href="#">Ar-fashion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto" style="margin-right: 10%;">
                <li class="nav-item active">
                  <a  style="font-size: large; "class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a  style="font-size: large; " class="nav-link" href="/shop">Shop</a>
                </li>
               
                
              </ul>
             
            </div>
          </nav>
          </div>


          <div class="content" >
            <!--1-->
               <div class="card" style="width: 18rem; align-items:center;justify-content:center">
                      <img class="card-img-top"style="height:60%" src= "{{url_for('static', filename='538.jpg')}}"  alt="Card image cap">
             
                          <div class="card-body">
               
                            <h5 class="card-title">Adidas t-Shirts</h5>
                           <p  id="price" class="card-text">price:$120</p>
                           <a href="/buy"  id="btn1"  class="btn btn-primary">Buy now</a>
                           <h4 class="head1">(or)</h4>
                           <form action="/forward" method="post">
                          
                             <button name="forwardBtn"    class="btn btn-primary" type="submit">Trynow</button> </form>
                          </div>
                </div>


                 <!--2-->
                 <div class="card" style="width:18rem;margin-left:25px;align-items:center;justify-content:center"">
                                 <img class="card-img-top" src= "{{url_for('static', filename='510.jpg')}}" alt="Card image cap">
             
                          <div class="card-body">
                 
                            <h5 class="card-title">Roadster t-Shirts</h5>
                             <p id="price" class="card-text">price:$180</p>
                             <a href="/buy" id="btn1"   class="btn btn-primary">Buy now</a>
                             <h4 class="head1">(or)</h4>
                              <form action="/p1" method="post">
                               
                                <button name="p1"   class="btn btn-primary" type="submit">Trynow</button> </form>
                         </div>
                 </div>

               <!--3-->
                <div class="card" style="width: 18rem; margin-left:25px;align-items:center;justify-content:center"">
                  <img class="card-img-top" src= "{{url_for('static', filename='512.jpg')}}" alt="Card image cap">
               
                  <div class="card-body">
                   
                    <h5 class="card-title">Symbol t-Shirts</h5>
                    <p id="price" class="card-text">price:$120</p>
                   
                    <a href="/buy" id="btn1"   class="btn btn-primary">Buy now</a>
                    <h4 class="head1">(or)</h4>
                    <form action="/p2" method="post">
                      
                      <button name="p2"    class="btn btn-primary" type="submit">Trynow</button> </form>
                  </div>
               
          </div>
          <!--4-->
          <div class="card" style="width: 18rem; margin-left:25px; margin-top:20px;align-items:center;justify-content:center"">
            <img class="card-img-top" src= "{{url_for('static', filename='519.jpg')}}" alt="Card image cap">
         
            <div class="card-body">
             
              <h5 class="card-title">Chinese Tshirt</h5>
              <p id="price" class="card-text">price:$220</p>
              <a href="/buy" id="btn1"  class="btn btn-primary">Buy now</a>
              <h4 class="head1">(or)</h4>
                    <form action="/p3" method="post">
                   
                      <button name="p3"   class="btn btn-primary" type="submit">Trynow</button> </form>
            </div>
         
    </div>

          <!--5-->
          <div class="card" style="width: 18rem;margin-left:25px;margin-top:20px;align-items:center;justify-content:center"">
            <img class="card-img-top"  src= "{{url_for('static', filename='520.jpg')}}" alt="Card image cap">
         
            <div class="card-body">
             
              <h5 class="card-title">Highlander Tshirt</h5>
              <p id="price" class="card-text">price:$250</p>
              <a href="/buy" id="btn1"  class="btn btn-primary">Buy now</a>
              <h4 class="head1">(or)</h4>
              <form action="/p4" method="post">
              
                <button name="p4"   class="btn btn-primary" type="submit">Trynow</button> </form>
            </div>
         
    </div>

     <!--6-->
     <div class="card" style="width: 18rem;margin-left:25px;margin-top:20px;align-items:center;justify-content:center"">
        <img class="card-img-top" src= "{{url_for('static', filename='544.jpg')}}" alt="Card image cap">
     
        <div class="card-body">
         
          <h5 class="card-title">Tshirt</h5>
          <p id="price" class="card-text">price:$120</p>
          <a href="/buy" id="btn1"   class="btn btn-primary">Buy now</a>
          <h4 class="head1">(or)</h4>
          <form action="/p5" method="post">
           
            <button name="p5"   class="btn btn-primary" type="submit">Trynow</button> </form>
        </div>
     
</div>
          

           <!--7-->
           <div class="card" style="width: 18rem;margin-left:25px;margin-top:20px;align-items:center;justify-content:center">
            <img class="card-img-top"  src= "{{url_for('static', filename='549.jpg')}}" alt="Card image cap">
         
            <div class="card-body">
             
              <h5 class="card-title">Cotton Trousers</h5>
              <p id="price" class="card-text">price:$100</p>
              <a href="/buy" id="btn1"   class="btn btn-primary">Buy now</a>
              <h4 class="head1">(or)</h4>
              
              <form action="/p6" method="post">
               
                <button name="p6"    class="btn btn-primary" type="submit">Trynow</button> </form>
            </div>
         
    </div>
    
         </div>


         

 </div>
    
         
       
      </div>




      <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    
    
</body>
</html>